@page
@model MyApp.Namespace.AboutModel
@{
	ViewData["Title"] = "About";
}

<h1>Visste inte vad jag skulle lägga här</h1>
<p>Så här är två coola gifs istället:</p>
<img src="img/blacky.gif" src="cool gif!!!" />
<img src="img/captain.gif" src="okej kapten!" />